<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MUC 微博舆论 5月27日</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> MUC 微博舆情
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">数据概览 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="time.html">时间趋势</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="item.html">主题分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="word.html">词云分析</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->

<!-- MUC-->
<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">Public Opinion</h6>
                <h3 class="w3l-title-main mb-2">中央民族大学 </h3>
                <p class="mt-3">Minzu University of China</p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">媒体报道</h4>
                            <p>一些媒体报道聚焦于中央民族大学的校园文化、学术交流等方面的特色，另一些报道则关注于教育教学改革、科技创新成果等方面。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">社媒舆情</h4>
                            <p>有一些民众对中央民族大学招收少数民族学生的优先政策产生了争议，一些学生在社交网络上抱怨给定课程过于艰深，考试难度过高等学术方面的问题。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">学校舆情</h4>
                            <p>中央民族大学在学生管理、校园安全等方面产生的事件、事故或负面新闻也引发了舆情。近期出现过一些学生宿舍被盗事件，校园内部有部分部门涉嫌腐败等负面新闻。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">招生舆情</h4>
                            <p>学校的招生政策、考试标准等作为教育学术领域的重点议题，可以引起媒体、专家和社会等群体的关注和讨论，是中央民族大学舆情的重要组成部分。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/muc.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //Why Choose Us Section-->

<!-- Stats Section-->
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-3">
        <div class="w3l-stats-inner-inf py-lg-4">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p class="counter"> 7226 </p>
                    </div>
                    <h3>新生人数</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-users"></i>
                        <p class="counter"> 1834 </p>
                    </div>
                    <h3>教职人员</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-headset"></i>
                        <p class="counter"> 19281 </p>
                    </div>
                    <h3>考研相关</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-project-diagram"></i>
                        <p class="counter"> 544 </p>
                    </div>
                    <h3>新增词条</h3>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //Stats Section-->

 <!--/testimonials-->
 <section class="w3l-clients py-5" id="testimonials">
    <div class="container py-sm-5 py-2">
        <div class="text-center mb-sm-5 mb-4">
            <h6 class="w3l-title-small mb-2">The Newest</h6>
            <h3 class="w3l-title-main mb-2">微博舆情概况</h3>
        </div>
        <div class="w3-testimonial-grids align-items-center pt-md-4">
            <div class="w3-testimonial-content-top">
                <div id="owl-demo1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="test-img"><img src="static/images/muc4.jpg" class="img-fluid" alt="client-img">

                            </div>
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                       大学时光充满朝气活力，青春岁月这般纯粹美好。
                                        在#毕业季#时光里，你会去看看人来人往的教室，再听听老师亲切的话语，还是转转傍晚时分微凉的操场？
                                        戴上这顶毕业帽🎓为大学画上一个完美的句号吧
                                        #给我一顶毕业帽#</q>

                                </blockquote>
                                <div class="testi-des">

                                    <div class="peopl align-self">
                                        <h3>中央民族大学超话#小民分享#</h3>
                                        <p class="indentity">UI/UX Designer ：ZHOU ZHILIN</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="test-img"><img src="static/images/muc4.jpg" class="img-fluid" alt="client-img">

                            </div>
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi esse quasi, doloribus tempora. voluptate rem ullam dolore nisi voluptatibus esse quasi, tempora. Lorem ipsum dolor amet elit in ligula.</q>

                                </blockquote>
                                <div class="testi-des">

                                    <div class="peopl align-self">
                                        <h3>Olivia Stella</h3>
                                        <p class="indentity">Marketing officer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="test-img"><img src="static/images/team3.jpg" class="img-fluid" alt="client-img">

                            </div>
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi esse quasi, doloribus tempora. voluptate rem ullam dolore nisi voluptatibus esse quasi, tempora. Lorem ipsum dolor amet elit in ligula.</q>

                                </blockquote>
                                <div class="testi-des">

                                    <div class="peopl align-self">
                                        <h3>Jackson Jack</h3>
                                        <p class="indentity">Co-Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="test-img"><img src="static/images/team4.jpg" class="img-fluid" alt="client-img">

                            </div>
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi esse quasi, doloribus tempora. voluptate rem ullam dolore nisi voluptatibus esse quasi, tempora. Lorem ipsum dolor amet elit in ligula.</q>

                                </blockquote>
                                <div class="testi-des">

                                    <div class="peopl align-self">
                                        <h3>David Samuel</h3>
                                        <p class="indentity">Co-Founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- footer block -->
<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">© 2023 MUC微博舆情. All rights reserved. <a target="_blank" href="http://www.mobanwang.com/" title="网页模板"></a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>